@import "tailwindcss";
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* LIGHT THEME (default) */
:root {
  --bg: #ffffff;
  --text: #111827;
  --card: #6b7280;
}

/* DARK THEME */
[data-theme="dark"] {
  --bg: #0b0b0b;
  --text:  #f9fafb;
  --card: #181818;
}

/* APPLY GLOBALLY */
body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}